.chat-main
  .main-header
    .main-header__left-box
      %h2.chat-main__left-box__group
        test
      %ul.chat-main__left-box__member
        masa
    .chat-main__edit-btn
      = link_to "Edit", '#'

  .messages
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          おはよう
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          おはよう
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          おはよう


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'